<%= form_for @reserva, :html => { :class => "form-horizontal" } do |f| %>
<% if @reserva.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

	<ul>
		<% @reserva.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :cliente_id, class: "col-sm-2 control-label" %>
	<div class="col-sm-4">
		<%= f.collection_select :cliente_id, Cliente.all , :id, :nombre_y_apellido %>
	</div>
</div>
<div class="form-group">
	<%= f.label :cancha_id, class: "col-sm-2 control-label"  %>
	<div class="col-sm-4">
		<%= f.collection_select :cancha_id, Cancha.all, :id, :descripcion_con_tipo, {  order: [ :day ,:month, :year ] , :datetime_separator => '', :time_separator => ''  },  { include_blank: false, class: "form-control" } %>
	</div>
</div>
<div class="form-group">
	<%= f.label :fecha_inicio, class: "col-sm-2 control-label"  %>
	<div class="col-sm-4">
		<span class="datetime">
			<%= f.datetime_select :fecha_inicio, { :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], order: [ :day ,:month, :year ] , :datetime_separator => '', :time_separator => '' }, { class: "form-control"} %>
		</span>
	</div>
</div>
<div class="form-group">
	<%= f.label :fecha_fin, class: "col-sm-2 control-label"  %>
	<div class="col-sm-4">
		<span class="datetime">
			<%= f.datetime_select :fecha_fin, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], order: [ :day ,:month, :year ], :datetime_separator => '', :time_separator => ''}, { class: "form-control"} %>
		</span>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<%= f.submit "Enviar", class: "btn btn-primary" %>
	</div>
</div>
<% end %>
