<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%=  "#{@reserva.cliente.apellido}, #{@reserva.cliente.nombre}" %>
</p>

<p>
  <strong>Cancha:</strong>
  <%= "#{@reserva.cancha.TipoCancha.descripcion} - #{@reserva.cancha.name} " %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @reserva.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @reserva.fecha_fin %>
</p>

<p>
  <strong>Fecha baja:</strong>
  <%= @reserva.fecha_baja %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
