<%= render "partials/navigation" %> <!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1>Detalle de la Reserva</h1>
				<hr />
				<p>
					<strong>Cliente:</strong>
					<%= "#{@reserva.cliente.apellido}, #{@reserva.cliente.nombre}" %>
				</p>

				<p>
					<strong>Cancha:</strong>
					<%= "#{@reserva.cancha.TipoCancha.descripcion} - #{@reserva.cancha.descripcion}" %>
				</p>

				<p>
					<strong>Fecha Inicio:</strong>
					<%= @reserva.fecha_inicio %>
				</p>

				<p>
					<strong>Fecha Finalizacion:</strong>
					<%= @reserva.fecha_fin %>
				</p>
				<p>
					<strong>Fecha de Baja:</strong>
					<%= @reserva.fecha_baja %>
				</p>
			</div>
		</div>
	</div>
</div>
