<%= form_for @cancelacion, :html => { :class => "form-horizontal" } do |f| %>
<% if @cancelacion.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@cancelacion.errors.count, "error") %> :</h2>

	<ul>
		<% @cancelacion.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :turnos_fijo_id, class: "col-sm-2 control-label" %>
	<div class="col-sm-4">
		<%= f.collection_select :turnos_fijo_id, TurnosFijo.where(fecha_baja: nil) , :id, :descripcion %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">Fecha Cancelacion</label>
	<div class="col-sm-4">
		<input type="date" name="cancelaciones_turno[dia_cancelacion]" value="<%=@today.strftime("%Y-%m-%d") %>" class="form-control">
	</div>
</div>
				
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<%= f.submit "Enviar", class: "btn btn-primary" %>
	</div>
</div>
<% end %>

<script>
	$( document ).ready(function() {
		$("#cancelaciones_turno_turnos_fijo_id").select2({
			theme: "bootstrap",
			language: "es"
		});
	});
</script>
