<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to "Club Primer Set", { controller: "welcome", action: "index" } ,class: "navbar-brand" %>
	</div>
	<!-- /.navbar-header -->

	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
			<ul class="dropdown-menu dropdown-user">
				<li>
					<%= link_to '<i class="fa fa-user fa-fw"></i> Perfil'.html_safe, user_admin_path(:id => current_user.id) %>
				</li>
				<li>
					<%= link_to '<i class="fa fa-gear fa-fw"></i> Editar'.html_safe, edit_user_admin_path(:id => current_user.id) %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to '<i class="fa fa-sign-out fa-fw"></i> Salir'.html_safe , destroy_user_session_path, method: :delete %>
				</li>
		</li>
	</ul>
	<!-- /.dropdown-user -->
	</li>
	<!-- /.dropdown -->
	</ul>
	<!-- /.navbar-top-links -->

	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
				<li>
					<%= link_to '<i class="fa fa-dashboard fa-fw"></i> Tablero Principal'.html_safe, { controller: "welcome", action: "index" }, class: "text-center" %>
				</li>
				<li>
					<a href="#"><i class="fa fa-user fa-fw"></i> Clientes<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<%= link_to 'Listar Clientes', clientes_path  %>
						</li>
						<li>
							<%= link_to 'Agregar Clientes', new_cliente_path %>
						</li>
						<% if current_user.admin?  %>
						<li>
							<%= link_to 'Agregar Tipo de Cliente', new_tipo_cliente_path %>
						</li>

						<li>
							<%= link_to 'Listar Tipos de Cliente', tipo_clientes_path %>
						</li>
						<% end %>
					</ul>
					<!-- /.nav-second-level -->
				</li>

				<li>
					<a href="#"><i class="fa fa-calendar-plus-o fa-fw"></i> Reservas <span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<%= link_to 'Listar Reservas', reservas_path %>
						</li>
						<li>
							<%= link_to 'Agregar nueva Reserva', new_reserva_path %>
						</li>

					</ul>
					<!-- /.nav-second-level -->
				</li>
				<li>
					<a href="#"><i class="fa fa-calendar-plus-o fa-fw"></i> Turnos Fijos <span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<%= link_to 'Listar Turnos Fijos', turnos_fijos_path %>
						</li>
						<li>
							<%= link_to 'Agregar Nuevo Turno Fijo', new_turnos_fijo_path %>
						</li>
						<li>
							<a href="#">Cancelacion de Turno Fijo</a>
						</li>

					</ul>
					<!-- /.nav-second-level -->
				</li>
				<% if current_user.admin?  %>
				<li>
					<a href="#"><i class="fa fa-gear fa-fw"></i> Recursos <span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">

						<li>
							<%= link_to 'Agregar Tipo de Cancha', new_tipo_cancha_path %>

						</li>
						<li>
							<%= link_to 'Listar Tipos de Canchas', tipo_canchas_path %>

						</li>
						<li>
							<%= link_to 'Agregar Cancha', new_cancha_path %>
						</li>
						<li>
							<%= link_to 'Listar Canchas', canchas_path %>
						</li>

					</ul>
					<!-- /.nav-second-level -->
				</li>

				<li>
					<a href="#"><i class="glyphicon glyphicon-eye-open"></i> Auditoria<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<%= link_to 'Ultimas Modifiaciones', auditoria_modificaciones_path %>
						</li>
						<li>
							<%= link_to 'Ultimos Accessos', auditoria_accesos_path %>
						</li>
					</ul>
					<!-- /.nav-second-level -->
				</li>
				<% end %>

				<li>
					<a href="#"><i class="fa fa-user fa-fw"></i> Usuarios del Sistema<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<%= link_to 'Perfil de Usuario', user_admin_path(:id => current_user.id) %>
						</li>
						<% if current_user.admin? %>
						<li>
							<%= link_to 'Listar Usuarios', user_admin_index_path %>
						</li>
						<li>
							<%= link_to 'Agregar Usuario', new_user_admin_path %>
						</li>
						<% end %>
					</ul>
					<!-- /.nav-second-level -->
				</li>

			</ul>
		</div>
		<!-- /.sidebar-collapse -->
	</div>
	<!-- /.navbar-static-side -->
</nav>