<%= render "partials/navigation" %> <!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1>Detalle del Turno fijo.</h1>
				<hr />
				<p>
					<strong>Cliente:</strong>
					<%= "#{@turnos_fijo.cliente.apellido}, #{@turnos_fijo.cliente.nombre}" %>
				</p>

				<p>
					<strong>Cancha:</strong>
					<%= "#{@turnos_fijo.cancha.TipoCancha.descripcion} - #{@turnos_fijo.cancha.descripcion}" %>
				</p>

				<p>
					<strong>Hora inicio:</strong>
					<%= @turnos_fijo.hora_inicio.strftime "%H:%M" %>
				</p>

				<p>
					<strong>Hora fin:</strong>
					<%= @turnos_fijo.hora_fin.strftime "%H:%M" %>
				</p>

				<p>
					<strong>Dia semana:</strong>
					<%=@turnos_fijo.dia_con_descripcion  %>
				</p>

			</div>
		</div>
	</div>
</div>
