<p id="notice"><%= notice %></p>

<h1>Listing Canchas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tipocancha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @canchas.each do |cancha| %>
      <tr>
        <td><%= cancha.name %></td>
        <td><%= cancha.TipoCancha.descripcion %></td>
        <td><%= link_to 'Show', cancha %></td>
        <td><%= link_to 'Edit', edit_cancha_path(cancha) %></td>
        <td><%= link_to 'Destroy', cancha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cancha', new_cancha_path %>
