<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cancha.name %>
</p>

<p>
  <strong>Tipocancha:</strong>
  <%= @cancha.TipoCancha.descripcion %>
</p>

<%= link_to 'Edit', edit_cancha_path(@cancha) %> |
<%= link_to 'Back', canchas_path %>
